<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.root.giveblood">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo11"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait" />
        <activity android:name=".FragmentMainActivity" />
        <activity android:name=".Admin_View_Activity" />
        <activity android:name="com.example.root.Upload_User_Detail.Upload_Detail" />
        <activity android:name=".Select_Donor_Or_Receptor" />
        <activity android:name="com.example.root.com.example.root.recycleViewFragments.RecyclerViewFragment_for_A_negative" />
        <activity android:name=".RecyclerViewFragment_for_A_negative" />
        <activity android:name=".RecyclerViewFragment_for_AB_positive" />
        <activity android:name=".RecyclerViewFragment_for_AB_negative" />
        <activity android:name=".RecyclerViewFragment_for_B_Positive" />
        <activity android:name=".RecyclerViewFragment_for_B_negative" />
        <activity android:name=".RecyclerViewFragment_for_O_positive" />
        <activity android:name=".RecyclerViewFragment_for_O_negative" />
        <activity android:name="com.example.root.com.example.root.ContactDetail.User_Contact_Detail" />
        <activity
            android:name=".Select_Donor_Or_Receptor_2"
            android:label="@string/title_activity_select__donor__or__receptor_2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Select_Donor_Or_Receptor_3"
            android:label="@string/title_activity_select__donor__or__receptor_3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.root.com.example.root.Registration.Login" />
        <activity android:name="com.example.root.com.example.root.Registration.CustomActivity" />
        <activity android:name="com.example.root.com.example.root.Registration.Register" />
        <activity android:name="com.example.root.com.example.root.ExtraActivities.Our_Policy" />
        <activity android:name="com.example.root.com.example.root.ExtraActivities.About_Us" />
        <activity android:name="com.example.root.com.example.root.ExtraActivities.Contact_Us" />
        <activity android:name="com.example.root.cm.example.root.FragmentMainActivity_For_All.FragmentMainActivity_For_A_Negative"></activity>
    </application>

</manifest>
